<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <description>SOAP Endpoint</description>
        <servlet-name>helloworldws</servlet-name>
        <servlet-class>me.yv84.helloworldws</servlet-class>
    </servlet>

</web-app>